/**
*
* {{ properCase name }}
*
*/

import React from 'react';
import PropTypes from 'prop-types';
import { withStyles } from '@material-ui/core/styles';
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
import messages from './messages';
{{/if}}
import styles from '../../styles';

class {{ properCase name }} extends {{{ type }}} {
  static propTypes = {
    classes: PropTypes.instanceOf(Object).isRequired,
  }

  render() {
    const { classes } = this.props;

    return (
      <div className={classes.root}>
        {{#if wantMessages}}
          <FormattedMessage {...messages.header} />
        {{/if}}
      </div>
    );
  }
}

export default withStyles(styles)({{ properCase name }});
